/* СОДЕРЖАНИЕ: 
1. ГЛАВНЫЙ ТЕКСТ САЙТА
2. FAQ
3. БЛОГ
4. О НАС - ОТДЕЛ СО СПЕЦИАЛИСТАМИ
5. ТАБЛИЦА С ЦЕНАМИ В PRICELIST*/

:root {
  --blue: #1d5d9b;
  --orange: #ff241d;
}

/* Главный текст сайта */

.q {
  max-width: 60%;
  margin: auto;
}
.q h2 {
  position: relative;
  display: inline-block;
  padding: 1em 0;
}
.q h2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 18px;
  border-radius: 10px;
  background-color: #1d5d9b;
  left: 0px;
}
.q p {
  line-height: 1.5em;
}
.q ul li {
  margin-bottom: 0.5em;
  line-height: 1.5em;
}
@media (max-width: 768px) {
  .q {
    max-width: 95%;
  }
}

/* Часто задаваемые вопросы */

.faq-container {
  max-width: 60%;
  margin: auto;
  padding-bottom: 1em;
}
.faq-container h2 {
  position: relative;
  display: inline-block;
  padding: 1em 0;
}
.faq-container h2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 18px;
  border-radius: 10px;
  background-color: #1d5d9b;
  left: 0px;
}
#faq-accordion li {
  border: 1px solid var(--blue);
  padding: 0.5em;
  border-radius: 4px;
  margin-bottom: 0.3em;
}
#faq-accordion li label {
  color: var(--blue);
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0.5 0em;
}
#faq-accordion li label span {
  transform: rotate(90deg);
  color: var(--blue);
  font-size: 1.3rem;
}
#faq-accordion li label + input[type="radio"] {
  display: none;
}
.faq-content {
  max-height: 0;
  overflow: hidden;
  margin-bottom: 0.5em;
}
#faq-accordion li label + input[type="radio"]:checked + .faq-content {
  max-height: max-content;
}
@media (max-width: 768px) {
  .faq-container {
    max-width: 95%;
  }
}

.benefits {
  height: auto;
  background-color: var(--blue);
  padding-bottom: 5vh;
  max-width: 60%;
  margin: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .benefits {
    height: auto;
    max-width: 100%;
  }
}
/* БЛОГ */
/* Н1 для выбора статей для блога */
.blog-name {
  max-width: 70%;
  margin: auto;
}
.blog-name h1 {
  padding: 1em 0;
  font-weight: 500;
  display: inline-block;
  position: relative;
  font-size: 23px;
}
.blog-name h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 18px;
  border-radius: 10px;
  background-color: #1d5d9b;
  left: 0px;
}
/* Грид для списка статей для блога */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  max-width: 70%;
  margin: auto;
  padding: 1em 0;
}
.grid-item {
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
  color: #333;
}
.grid-item img {
  object-fit: cover;
  width: 21em;
  height: 12.5em;
  border-radius: 8px 8px 0px 0px;
}
.grid-item h2 {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.5em;
}
.grid-item:hover {
  transform: scale(1.001);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.blog-page-selection {
  display: flex;
  justify-content: center;
  padding: 1em 0;
  gap: 1em;
}
.blog-page-selection a {
  border: 1px solid grey;
  padding: 1em;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 90%;
    margin: auto;
  }
}
@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

/* О НАС - ОТДЕЛ С ВРАЧАМИ */
.doctor-block-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  text-wrap: balance;
}
.doctor-block-about img {
  object-fit: fill;
  height: 20em;
  width: auto;
  box-shadow: 5px -5px 0px var(--blue);
  border-radius: 0 0 0 10px;
}
.doctor-block-about p {
  line-height: 1.5rem;
  text-align: left;
}
@media (max-width: 768px) {
  .doctor-block-about {
    flex-direction: column;
    max-width: 95%;
  }
  .doctor-block-about img {
    object-fit: fill;
    width: 70%;
    height: auto;
  }
}

/* ТАБЛИЦА С ЦЕНАМИ В PRICELIST */
.table-container {
  width: 100%;
  overflow-x: auto;
  margin: 0 auto;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #1d5d9b;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

@media (max-width: 600px) {
  th, td {
      padding: 10px;
      font-size: 14px;
  }
}
